@model ChangePasswordModel

<div class="contentRow ps-3 pe-3 fw-bold bg-primary text-white">Change Password</div>

<div id="changePasswordErrorMessage" class="contentRow p-3 text-danger d-none"></div>

<div id="changePasswordFormContainer" class="contentRow ps-3 pe-3">
    @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { id = "changePasswordForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.LabelFor(m => m.ExistingPassword, "Existing Password", new { @class = "w-100" })
        @Html.PasswordFor(m => m.ExistingPassword, new { @class = "form-control", style = "margin:3px 0;", @readonly = "true", onfocus = "this.readOnly = false;", onblur = "this.readOnly = true;" })
        @Html.ValidationMessageFor(m => m.ExistingPassword, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.NewPassword, "New Password", new { @class = "w-100" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "margin:3px 0;", @readonly = "true", onfocus = "this.readOnly = false;", onblur = "this.readOnly = true;" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

        <button type="submit" class="btn btn-success mt-3 mb-3 d-block">
            <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true"></span>
            Save
        </button>
    }
</div>
<div id="changePasswordlSuccessMessage" class="contentRow pt-4 pb-4 ps-3 pe-3 d-none" style="line-height:22px;">
    <strong>Password saved!</strong>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        await addSubmitFormListener(
            "changePasswordForm",
            function(){
                document.getElementById('changePasswordFormContainer').classList.add("d-none");
                document.getElementById('changePasswordlSuccessMessage').classList.remove("d-none");
                document.getElementById('changePasswordErrorMessage').classList.add("d-none");
                document.getElementById('changePasswordErrorMessage').innerHTML = '';
            }, function(errorString){
                document.getElementById('changePasswordErrorMessage').classList.remove("d-none");
                document.getElementById('changePasswordErrorMessage').innerHTML = errorString;
            });
    });
</script>