@model ResetPasswordModel

@{
    ViewBag.Title = "Feed App 3 - Reset Password";
}

<partial name="LoginHeaderPartial" />

<div class="contentRow fs-5 p-2 text-center fw-bold" style="border-top: 1px solid #CCC;">
    Reset Password
</div>

<div id="errorMessage" class="contentRow p-3 text-danger d-none"></div>

<div id="resetPasswordFormContainer" class="contentRow ps-3 pe-3" style="padding-top: 3px;padding-bottom: 3px;">
    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { id = "resetPasswordForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Token)

        <div class="d-inline-block w-100 lh-base pt-3">
            Enter a new password to update your account.
        </div>

        @Html.LabelFor(m => m.NewPassword, "New Password")
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @readonly = "true", onfocus = "this.readOnly = false;", onblur = "this.readOnly = true;" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.RepeatNewPassword, "Repeat New Password")
        @Html.PasswordFor(m => m.RepeatNewPassword, new { @class = "form-control", @readonly = "true", onfocus = "this.readOnly = false;", onblur = "this.readOnly = true;" })
        @Html.ValidationMessageFor(m => m.RepeatNewPassword, "", new { @class = "text-danger" })

        <div class="pt-3 pb-3">
            <button type="submit" class="btn btn-success mt-3 mb-3">
                <span class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true"></span>
                Save Password
            </button>
        </div>
    }
</div>

<div id="resetPasswordSuccessMessage" class="contentRow pt-4 pb-4 ps-3 pe-3 d-none" style="line-height: 22px;">
    <strong>Password updated!</strong><br />
    Your password is now updated.
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            await addSubmitFormListener(
                "resetPasswordForm",
                function () {
                    document.getElementById("resetPasswordFormContainer").classList.add("d-none");
                    document.getElementById("resetPasswordSuccessMessage").classList.remove("d-none");
                    document.getElementById("errorMessage").classList.add("d-none");
                    document.getElementById("errorMessage").innerHTML = '';
                },
                function (errorString) {
                    document.getElementById("errorMessage").classList.remove("d-none");
                    document.getElementById("errorMessage").innerHTML = errorString;
                });
        });
    </script>
}
